div{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
}
.background {
    background-color: #e5e5e5;
    position: absolute;
    top : 0;
    bottom : 0;
    right : 0;
    left : 0%;
    z-index: 0;
}
.caixa {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display : flex;
    color: #666;
    margin-top: 5px;
}
.header {
    max-width: 540px;
    padding-top: 8vh;
    margin: 0 auto;
    background-color: #393939;
    padding: 15px 30px 15px;
    width: 100%;
    max-width: 1380px;
    display: flex;
    justify-content: space-between;
}
.menuHeader{
    display: flex;
    align-items: center;
    padding-right: 90px;
}
ul{
    display: flex;
    align-items: center;
}
.glyphicon li{
    display: flex;
}
li{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}
img{
    max-height: 75px;
    max-width: 75px;
}
.tituloMenu a{
    display: flex;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    background-color: transparent;
    color: #ccc;
    line-height: normal;
}
.tituloMenu{
    border-left: 1px solid rgba(255, 255, 255, 0.102);
    border-right: 1px solid rgba(255, 255, 255, 0.102);
    padding: 20px;
}
.tituloMenu a:hover{
    color: #4272d7;
    transition: all 0.3s ease;
}

.dadosLogin{
    margin: 0;
    padding: 0;
}
label{
    display: block;
}
.conteudo{
    top: 120px;
}
